mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			if data
				+b.section-title
					h5= data
			+e.row.row
				+partnerItem('')
				+partnerItem('sPartners-logo-1.svg')
				+partnerItem('sPartners-logo-2.svg')
				+partnerItem('sPartners-logo-3.svg')
				+partnerItem('sPartners-logo-4.svg')
				+partnerItem('sPartners-logo-5.svg')
				+partnerItem('sPartners-logo-6.svg')
				+partnerItem('sPartners-logo-7.svg')
				+partnerItem('sPartners-logo-8.svg')
				+partnerItem('sPartners-logo-9.svg')
				+partnerItem('sPartners-logo-10.svg')
				+partnerItem('sPartners-logo-11.svg')
				+partnerItem('sPartners-logo-12.svg')
				+partnerItem('sPartners-logo-13.svg')
				+partnerItem('sPartners-logo-14.svg')
				+partnerItem('sPartners-logo-15.svg')
				+partnerItem('sPartners-logo-16.svg')
				+partnerItem('sPartners-logo-17.svg')
				+partnerItem('sPartners-logo-18.svg')
				+partnerItem('sPartners-logo-19.svg')
				+partnerItem('sPartners-logo-20.svg')
				+partnerItem('sPartners-logo-21.svg')
				+partnerItem('sPartners-logo-22.svg')
	// end sPartners

mixin sPartners2(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners2&attributes(attributes)
		.container
			if data
				+b.section-title
					h5= data
			+e.row.row
				+partnerItem('')
				+partnerItem('sPartners-logo-1.svg')
				+partnerItem('sPartners-logo-2.svg')
				+partnerItem('sPartners-logo-3.svg')
				+partnerItem('sPartners-logo-4.svg')
				+partnerItem('sPartners-logo-5.svg')
				+partnerItem('sPartners-logo-6.svg')
				+partnerItem('sPartners-logo-7.svg')
				+partnerItem('sPartners-logo-8.svg')
				+partnerItem('sPartners-logo-9.svg')
				+partnerItem('sPartners-logo-10.svg')
				+partnerItem('sPartners-logo-11.svg')
				+partnerItem('sPartners-logo-12.svg')
				+partnerItem('sPartners-logo-13.svg')
				+partnerItem('sPartners-logo-14.svg')
				+partnerItem('sPartners-logo-15.svg')
				+partnerItem('sPartners-logo-16.svg')
				+partnerItem('sPartners-logo-17.svg')
				+partnerItem('sPartners-logo-18.svg')
				+partnerItem('sPartners-logo-19.svg')
				+partnerItem('sPartners-logo-20.svg')
				+partnerItem('sPartners-logo-21.svg')
				+partnerItem('sPartners-logo-22.svg')
	// end sPartners

mixin sPartners3(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners3&attributes(attributes)
		.container
			if data
				+b.section-title
					h5= data
			+e.row.row
				+partnerItem('sPartners-logo-1.svg')
				+partnerItem('sPartners-logo-2.svg')
				+partnerItem('sPartners-logo-3.svg')
				+partnerItem('sPartners-logo-4.svg')
				+partnerItem('sPartners-logo-5.svg')
				+partnerItem('sPartners-logo-6.svg')
				+partnerItem('sPartners-logo-7.svg')
	// end sPartners

mixin sPartners4(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners3&attributes(attributes)
		.container
			if data
				+b.section-title.top-line
					h5= data
			+e.row.row
				+partnerItem('')
				+partnerItem('sPartners-logo-2.svg')
				+partnerItem('sPartners-logo-3.svg')
	+b.SECTION.sPartners.section#sPartners3: .container
		+b.section-title.top-line
			h5 Шорт-лист (Топ-10)
	// end sPartners

mixin partnerItem(img)
	+b.partner-item&attributes(attributes)
		if img
			+img(`img/svg/${img}`).res-i