include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider


mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")

mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти" inputmode='search')
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin btn-to-top
	.btn-to-top-wrap
		.btn-to-top: +icon('arr-top')

mixin addMore()
	+b.addMore
		block
		+e.plus: +icon('plus')

mixin upload-field(title)
	+b.upload-field
		+e.wrap
			+e.input-wrap
				+e.LABEL.btn.btn.btn-outline-primary
					input.input-upload(type='file' name='file')
					span Прикрепить файл
					+icon('clip')
			+e.file-name 

mixin downlFile(text, link)
	+b.download-file
		p= text
		if link
			+e.link(href='#' download)
				+icon('pdf')
				| Скачать файл .doc
		if block 
			block

mixin ranking(rank)
	+b.ranking
		+e.descr Оцените от 1 до 10, где 1 самая низкая оценка проекта, а 10 самая высокая
		+e.row
			- var x = 1;
			while x <= 10
				+in-c('radio',x++)(name=`ranking${rank}`)


mixin uploadAvatar(initials)
	+b.upload-avatar
		+e.LABEL.input-wrap
			input.input-upload(type='file' name='file')
			+e.stub
				+img('')
			.img-wrap-center
				+img('', 'bg')
			+e.file-name +